# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
build

# Turbo
.turbo

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

*storybook.log
storybook-static
